* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'HanyiSentyMarshmallow'; /* 汉仪马卡龙 */
  background-color: #121212;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  background-color: #1e1e1e;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
}

.container li {
  list-style-type: none; /* Removes the bullet point */
  margin-left: 0; /* Optional: Adjust left margin if needed */
  padding-left: 0; /* Optional: Adjust padding if needed */  
}

.profile {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-pic {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-left: 30px;
  margin-right: 40px;
}

.profile-info h1 {
  font-size: 1.5em;
  color: #ffffff;
}

.profile-info h2 {
  font-size: 1.2em;
  color: #888888;
}

.profile-info p {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.myvrchat-btn {
  font-family: 'HanyiSentyMarshmallow'; /* 汉仪马卡龙 */
  background-color: #3a3a3a;
  color: #f5f5f5;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.content-container {
  padding-left: 6%;
}

.project-btn-my-liuyan {
  text-decoration: none;
  margin: 10px;
  font-family: 'HanyiSentyMarshmallow'; /* 汉仪马卡龙 */
  background-color: rgba(255, 192, 203, 0.568);
  border-radius: 20px;
  color: #f5f5f5;
  border: none;
  font-size: 1em;
  text-align: left;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
}

.project-btn-my-liuyan:hover {
  background-color: transparent;
  color: #f5f5f5;
}

.project-btn-my-liuyan a {
  margin-left: 20px;
}

.project-btn {
  font-family: 'HanyiSentyMarshmallow'; /* 汉仪马卡龙 */
  background-color: rgba(255, 192, 203, 0.568);
  color: #ffffff;
  border: none;
  font-size: 1.2em;
  text-align: left;
  cursor: pointer;
  padding: 10px 0;
  width: 100%;
  border-radius: 25px;
  margin: 5px;
}

.project-btn:hover {
  background-color: transparent;
  color: #ffffff;
}

.project-details {
  margin-left: 15px;
  color: #ccc;
  font-size: 1.0em;
}

.project-btn a {
  padding-left: 20px;
}

.vrchat-details {
  margin-top: 10px;
  color: #ccc;
  font-size: 1.1em;
}

.vrchat-details2 {
  margin-top: 10px;
  color: #ccc;
  font-size: 1.1em;
}
